examples/node-red/node_red_system_monitoring.json
[
    {
        "id": "6c259dd5.72f0d4",
        "type": "subflow",
        "name": "Ring Buffer",
        "info": "# Ring buffer\n## Last in First Out subflow\nThis flow receives a series of msg.payloads and builds a ring bifferwith a specific buffer size. The buffer size is configurabe through subflows enviroment variables.\n\n### Input\nThe `msg.payload`will be added to the ring buffer array, except if `msg.topic == list`\n\nIf `msg.topic == list` the complete buffer will be sent at the secont output.\n\n\n### Output 1\nAlways sends the original message\n\n### Output 2\nAlways return the complete buffer.\n\n### Status\nAlways shows the queue size.\n\n### Enviroment Variables\n`Buffer_Size` defines the size of the queue. If a new item arrives and the queue is full, the oldest item will be removed.",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 40,
                "wires": [
                    {
                        "id": "b4286eb1.847af"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 280,
                "y": 40,
                "wires": [
                    {
                        "id": "6c259dd5.72f0d4",
                        "port": 0
                    }
                ]
            },
            {
                "x": 800,
                "y": 140,
                "wires": [
                    {
                        "id": "6c6b3594.fac22c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Buffer_Size",
                "type": "num",
                "value": "5"
            }
        ],
        "inputLabels": [
            "payload"
        ],
        "outputLabels": [
            "Original message",
            "Buffer"
        ],
        "icon": "font-awesome/fa-circle-o-notch",
        "status": {
            "x": 1020,
            "y": 100,
            "wires": [
                {
                    "id": "36df5ea7.231082",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "b4286eb1.847af",
        "type": "switch",
        "z": "6c259dd5.72f0d4",
        "name": "Topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "list",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "6c6b3594.fac22c"
            ],
            [
                "afc05e2d.59f36"
            ]
        ]
    },
    {
        "id": "afc05e2d.59f36",
        "type": "function",
        "z": "6c259dd5.72f0d4",
        "name": "put",
        "func": "var queue = flow.get(\"queue\")\n\n\nif (!Array.isArray(queue)){\n    queue = [];\n}else if ( queue.length >= env.get(\"Buffer_Size\") ){\n    queue.pop(1);\n}\n\nqueue.unshift(msg.payload);\n\nflow.set(\"queue\", queue);\nmsg.payload = queue;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "6c6b3594.fac22c"
            ]
        ]
    },
    {
        "id": "6c6b3594.fac22c",
        "type": "change",
        "z": "6c259dd5.72f0d4",
        "name": "list",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "queue",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "36df5ea7.231082"
            ]
        ]
    },
    {
        "id": "36df5ea7.231082",
        "type": "change",
        "z": "6c259dd5.72f0d4",
        "name": "Count",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$count(msg.payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c205f9b3.612a3",
        "type": "tab",
        "label": "System Monitoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b227b7e2.8b3f68",
        "type": "http in",
        "z": "c205f9b3.612a3",
        "name": "Sensor Values",
        "url": "/datastream_sysmon",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "963f1a11.1308a",
                "765a621a.d6c8a4"
            ]
        ]
    },
    {
        "id": "963f1a11.1308a",
        "type": "http response",
        "z": "c205f9b3.612a3",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "149635e7.9e2992",
        "type": "ui_chart",
        "z": "c205f9b3.612a3",
        "name": "Sensor Chart",
        "group": "14ddc162.5fc67f",
        "order": 1,
        "width": 10,
        "height": 4,
        "label": "System Monitoring",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "52",
        "removeOlderPoints": "150",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 670,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "765a621a.d6c8a4",
        "type": "function",
        "z": "c205f9b3.612a3",
        "name": "",
        "func": "var cpu = {\"topic\": \"CPU %\"};\nvar mem = {\"topic\": \"Mem %\"};\nvar swap = {\"topic\": \"Swap %\"};\n\nvar raw = msg.payload = JSON.parse(msg.payload);\n\ncpu.payload = msg.payload.hasOwnProperty(\"cpu_pc\") ? raw.cpu_pc : null;\nmem.payload = msg.payload.hasOwnProperty(\"mem_pc\") ? raw.mem_pc : null;\nswap.payload = msg.payload.hasOwnProperty(\"swap_pc\") ? raw.swap_pc : null;\n\ncpu.timestamp = raw.timestamp;\nmem.timestamp = raw.timestamp;\nswap.timestamp = raw.timestamp;\n\nreturn [cpu, mem, swap];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "149635e7.9e2992"
            ],
            [
                "149635e7.9e2992"
            ],
            [
                "149635e7.9e2992"
            ]
        ]
    },
    {
        "id": "80958d74.de96f",
        "type": "ui_button",
        "z": "c205f9b3.612a3",
        "name": "",
        "group": "14ddc162.5fc67f",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Clear Data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "149635e7.9e2992",
                "a2855686.dff81"
            ]
        ]
    },
    {
        "id": "2dad8833.dcb138",
        "type": "http in",
        "z": "c205f9b3.612a3",
        "name": "Sensor Message",
        "url": "/msgstream_sysmon",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "21b19e1b.58534a",
                "55b0855a.d48d34"
            ]
        ]
    },
    {
        "id": "21b19e1b.58534a",
        "type": "http response",
        "z": "c205f9b3.612a3",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "8c280f7.893f37",
        "type": "ui_text",
        "z": "c205f9b3.612a3",
        "group": "14ddc162.5fc67f",
        "order": 2,
        "width": 4,
        "height": 4,
        "name": "Display",
        "label": "<b>Warnings</b>",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "a2855686.dff81",
        "type": "function",
        "z": "c205f9b3.612a3",
        "name": "Empty Message",
        "func": "msg.payload = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 360,
        "wires": [
            [
                "8c280f7.893f37"
            ]
        ]
    },
    {
        "id": "68463322.39bbec",
        "type": "function",
        "z": "c205f9b3.612a3",
        "name": "",
        "func": "msg.payload = []\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "149635e7.9e2992"
            ]
        ]
    },
    {
        "id": "ed0b7a1b.838238",
        "type": "http response",
        "z": "c205f9b3.612a3",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "f5377ad9.10425",
        "type": "http in",
        "z": "c205f9b3.612a3",
        "name": "Clear",
        "url": "/clear_sysmon",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "a2855686.dff81",
                "68463322.39bbec",
                "25fb0f11.9c8df8"
            ]
        ]
    },
    {
        "id": "25fb0f11.9c8df8",
        "type": "template",
        "z": "c205f9b3.612a3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "OK",
        "output": "str",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "ed0b7a1b.838238"
            ]
        ]
    },
    {
        "id": "55b0855a.d48d34",
        "type": "subflow:6c259dd5.72f0d4",
        "z": "c205f9b3.612a3",
        "name": "",
        "env": [
            {
                "name": "Buffer_Size",
                "value": "10",
                "type": "num"
            }
        ],
        "x": 450,
        "y": 580,
        "wires": [
            [],
            [
                "ae290837.cbfd68"
            ]
        ]
    },
    {
        "id": "ae290837.cbfd68",
        "type": "function",
        "z": "c205f9b3.612a3",
        "name": "",
        "func": "var join = msg.payload.join('\\n');\nmsg.payload = join;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 580,
        "wires": [
            [
                "8c280f7.893f37"
            ]
        ]
    },
    {
        "id": "14ddc162.5fc67f",
        "type": "ui_group",
        "name": "System Monitoring",
        "tab": "a35214a9.719bb",
        "order": 3,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "a35214a9.719bb",
        "type": "ui_tab",
        "name": "STEAM",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
